/*
 * @file Declares default CSS
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

.headshot {
  shape-outside:  circle(50%);
}

.home .headshot {
  margin: 0 auto;
}

.headshot img {
  border-radius: 50%;
}

nav,
.flex-wrap {
  flex-wrap: wrap;
}

/*
 * Borders
 */
@media (min-width: 41.125em) {
  nav[aria-label="activities"] > ul > li {
    border-bottom: var(--border);
  }

  nav[aria-label="activities"] > ul > li[data-current-page="true"],
  nav[aria-label="activities"] > ul > li[data-tabbed="true"] {
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: unset;
    border-left: var(--border);
  }

  main footer {
    border-top: var(--border);
  }
}
