[aria-current="page"] {
  string-set: doctitle content();
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

a,
.primary-color {
  color: blue;
  color: rgb(var(--primary, 0 0 255));
}

a[aria-current],
.text-gray {
  color: purple;
  color: var(--text-gray, purple);
}

.small a {
  color: unset;
}

svg {
  fill: currentColor;
}
