/**
 * @file Fonts stylesheet
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

/**
 * Courier Prime by Alan Dague-Greene for Quote-Unquote Apps
 * SIL Open Font License v1.10
 * @see {@link https://quoteunquoteapps.com/courierprime/ Courier Prime: It’s Courier, just better.}
 */
@media screen {
  @font-face {
    font-family: 'Courier Prime';
    src: local('Courier Prime'),
      url(/fonts/courier-prime/CourierPrime.woff2);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Courier Prime';
    src: local('Courier Prime Italic'),
      url(/fonts/courier-prime/CourierPrime-Italic.woff2);
    font-style: italic;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Courier Prime';
    src: local('CourierPrime-Bold'),
      url(/fonts/courier-prime/CourierPrime-Bold.woff2);
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Courier Prime';
    src: local('Courier Prime Bold Italic'),
      url(/fonts/courier-prime/CourierPrime-BoldItalic.woff2);
    font-style: italic;
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Courier Prime Code';
    src: local('Courier Prime Code'),
      url(/fonts/courier-prime/CourierPrimeCode.woff2);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Courier Prime Code';
    src: local('Courier Prime Code Italic'),
      url(/fonts/courier-prime/CourierPrimeCode-Italic.woff2);
    font-style: italic;
    font-weight: normal;
    font-display: swap;
  }
}
