button,
input {
  font-family: inherit;
}

input[type=text],
input[type=email],
option,
select,
textarea {
  font-family: 'Courier Prime Code';
}

form,
fieldset {
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  border-radius: unset;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 1em;
}

@media screen {
  button,
  input,
  option,
  select,
  textarea {
    margin-block-end: 1em;
  }
}

input,
select,
textarea {
  border: var(--border);
  background-color: inherit;
  color: inherit;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border-color: rgb(var(--primary));
}

button {
  background-color: var(--background-color);
  border-color: rgb(var(--primary));
  border-style: solid;
  color: rgb(var(--primary));
  cursor: pointer;
  font-size: 1.25em;
  min-width: 2em;
  width: 10em;
  max-width: 100%;
}

button:focus,
button:hover {
  background-color: rgb(var(--primary));
  color: var(--background-color);
}

textarea {
  resize: none;
}
