/**
 * @file Outline and numbering stylesheet
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

/*
 * Lists
 */
ol { 
  counter-reset: item;
  list-style: none;
}

ol li:before { 
  content: counters(item, ".") ". "; 
  counter-increment: item; 
}

/*
 * Subheads
 */
article {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h2:not(#contents):before {
  content: counter(h2) ". ";
  counter-increment: h2;
}

h3:before {
  content: counter(h2) "." counter(h3) ". ";
  counter-increment: h3;
}

h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
  counter-increment: h4;
}
