/**
 * @file Print stylesheet
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 * @see {@link https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/ Andrew, Rachel. 2015. “Designing For Print With CSS.” January 7.}
 * @see {@link https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/ Andrew, Rachel. 2018. “A Guide To The State Of Print Stylesheets In 2018.” Smashing Magazine, May 1.}
 * @see {@link https://www.princexml.com/doc/ “Prince Documentation.” YesLogic.}
 */

@media print {
  /**
   * Courier Prime by Alan Dague-Greene for Quote-Unquote Apps
   * SIL Open Font License v1.10
   * @see {@link https://quoteunquoteapps.com/courierprime/ Courier Prime: It’s Courier, just better.}
   */
  @font-face {
    font-family: Courier Prime;
    font-style: normal;
    font-weight: normal;
    src: local('Courier Prime'),
      /* Have Prince search the filesystem; assumes Arch Linux directory structure */
      url('/usr/share/fonts/TTF/Courier Prime.ttf'),
      url('/fonts/courier-prime/CourierPrime.woff2') format('woff2');
  }

  @font-face {
    font-family: Courier Prime;
    font-style: italic;
    font-weight: normal;
    src: local('Courier Prime Italic'),
      /* Have Prince search the filesystem; assumes Arch Linux directory structure */
      url('/usr/share/fonts/TTF/Courier Prime Italic.ttf'),
      url('/fonts/courier-prime/CourierPrimeItalic.woff2') format('woff2');
  }

  @font-face {
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    src: local('Courier Prime SemiBold'),
      /* Have Prince search the filesystem; assumes Arch Linux directory structure */
      url('/usr/share/fonts/TTF/Courier Prime SemiBold.ttf'),
      url('/fonts/courier-prime/CourierPrime-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: Courier Prime;
    font-style: italic;
    font-weight: bold;
    src: local('Courier Prime Bold Italic'),
      /* Have Prince search the filesystem; assumes Arch Linux directory structure */
      url('/usr/share/fonts/TTF/Courier Prime Bold Italic.ttf'),
      url('/fonts/courier-prime/CourierPrime-SemiBoldItalic.woff2') format('woff2');
  }
}

/* Set the document title */
#title {
  string-set: doctitle content();
  margin-top: 0;
}

/*
 * Page styles
 */
@page {
  size: letter portrait;
  /* See Turabian 2018, A.1.1 */
  margin: 1in;

  /* Default page header */
  @top-left {
    content: string(doctitle);
    font-style: italic;
  }
  @top-right {
    /* See Turabian 2018, A.1.4  */
    content: "Lillie " counter(page);
  }
}

/* First page header and footer */
@page:first {
  /* Remove default */
  @top-left {
    content: "";
  }
  /* Remove default */
  @top-right {
    content: "";
  }
  /* See Turabian 2018, A.1.4.2 */
  @bottom-center {
    content: counter(page);
  }
}

/* Default font sizes and spacing */
html {
  /* See Turabian 2018, A.1.2–3 */
  font-size: 12pt !important;
  /* Single spacing for print */
  line-height: 1.1 !important;
}

body {
  margin: 0;
}

/*
 * Default element styles
 */
a {
  color: inherit;
  font-weight: normal !important;
}

abbr {
  text-decoration: none;
}

h1 {
  font-size: 18pt;
}

caption,
h2, 
h3, 
h4, 
h5 {
  /* See Turabian 2018, A.2.2.4 */
  font-size: 1em !important;
}

h2 {
  /* See Turabian 2018, A.2.2.4 */
  margin-top: 0;
}

section {
  margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
}

li {
  page-break-before: avoid;
}

/* Override screen styles */
main {
  width: unset;
  max-width: 100%;
}

p {
  orphans: 2;
  widows: 2;
}

table,
ol,
ul {
  page-break-inside: avoid;
}

/*
 * Prince follows different conventions for styling tables
 * @see Turabian 2018, ch. 26
 */
table {
  border-collapse: collapse;
}

table caption,
tr th,
td {
  border-bottom: solid 0.25pt gray;
}

tr th,
td {
  padding: 4pt;
}

tr:first-of-type {
  border-top: none;
}

/**
 * Prince does not recognize wbr, but a pseudo selector can achieve the effect.
 * @see {@link https://www.princexml.com/forum/topic/9/css-for-nobr-and-wbr-elements?p=1#23 Lynx, “CSS for nobr and wbr elements,” in “Samples, Tips, and Tricks,” Prince Forum, June 14 2015.}
 */
wbr:before {
  content: "\200B";
  white-space: normal;
}

/*
 * Class styles 
 */
.hanging-indent {
  padding-left: 0.5in;
  text-indent: -0.5in;
}

/* Prince does not support padding-inline-start */
.no-padding-inline-start {
  padding-left: 0;
}

/* Hide in print */
nav,
#site_header,
#site_footer,
.show-on-screen-only {
  display: none !important;
  visibility: hidden !important;
}

/* Show in print */
.hide-on-small,
.show-in-print-only {
  display: inherit !important;
  visibility: visible !important;
}
