/**
 * @file Typography stylesheet
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

/* Default font weight */
:root {
  --text-wght: 400;
}

html {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  font-weight: var(--text-wght);
  line-height: 1.5;
}

/* Double spacing for menu items */
nav li {
  line-height: 2;
}

code,
pre {
  font-family: 'Courier Prime Code', monospace;
}

@media screen and (min-width: 50em) {
  html {
    font-size: 1.5em;
  }
}

address {
  font-style: inherit;
}

a,
h1,
button,
label,
table caption:before, /* See Turabian 2018 26.2.2 */
.bold {
  font-weight: bold;
}

/* Subheads */
article h1,
article h2,
article h3,
article h4 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  font-style: normal;
}

h1 {
  text-transform: uppercase;
}

.home h1 {
  text-transform: unset;
}


h3 {
  font-style: italic;
}

/* Prince does not support CSS logical properties */
@media screen {
  article h1,
  article h2,
  article h3,
  article h4 {
    margin-block-start: 2em;
    margin-block-end: 1em;
  }
}

/* Remove link underlining, since they are bold and a contrasting color */
a,
/* Make the current page link appear visually disabled, without disabling it */
a[aria-current="page"]:focus,
a[aria-current="page"]:hover {
  text-decoration: none;
}

/**
 * Prince does not support text-decoratinon-thickness
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness MDN Contributors. 2022. “text-decoration-thickness.” MDN. September 26.}
 */
@media screen {
  a:focus,
  a:hover {
    text-decoration-line: underline;
    /* Tailored to Courier Prime Bold */
    text-decoration-thickness: 0.11rem;
    text-underline-offset: 0.14rem;
  }
}

/* Larger than `small` but not as large as `smaller`*/
.smaller {
  /* Set for 'CourierPrimeBold' */
  font-size: 0.8175em;
}

.small {
  font-size: small;
}

/* Keep text from getting too large on the smallest screens */
nav[aria-label="activities"] ul,
.x-large {
  font-size: large;
}

@media (min-width: 30em) {
  nav[aria-label="activities"] ul,
  .x-large {
    font-size: x-large;
  }
  nav[aria-label="header nav"] ul li:last-of-type {
    text-align: right;
    text-align: inline-end;
  }
}

/**
 * Spacing and Indentation
 * @see Turabin 2018, A.1.3
 */

/* See Turabian 2018, 16.1.7 and 18.1.7*/
.hanging-indent {
  padding-left: 2ch;
  text-indent: -2ch;
}

/* Prince does not support CSS logical properties */
@media screen {
  .hanging-indent {
    padding-inline-start: 2ch;
  }
}

/* Alignment */
caption,
th[scope="row"],
.text-inline-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-inline-end {
  text-align: right;
}

/**
 * Prevent line breaks
 * @since 1.5.0
 * Used in _includes/shortcodes/socal-links.js 
 * for usernames with word-break characters
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/white-space MDN Contributors. 2022. “white-space.” MDN. September 26.}
 * */
.no-line-break {
  white-space: nowrap;
}

/* Prince does not support CSS logical properties */
@media screen {
  .text-inline-start {
    text-align: inline-start;
  }
  .text-inline-end {
    text-align: inline-end;
  }
}

/* Outline and Numbering */
.no-list-style {
  list-style: none;
}

/*
 * Tables and Figures
 */
main {
  counter-reset: figure;
  counter-reset: table;
}

/* See Turabian 2018, 26.2.2 */
table caption:before {
  content: "Table " counter(table) ". ";
  counter-increment: table;
}

@media screen {
  table {
    border-collapse: collapse;
  }

  tr,
  th,
  td {
    border-bottom: var(--border);
  }

  tr:first-of-type th,
  tr:first-of-type td {
    border-top: var(--border);
  }
}

/* See Turabian 2018, 26.3.2 */
figure caption:before {
  content: "Figure " counter(figure) ". ";
  counter-increment: figure;
}
